{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^lib/(.*)$",
    "^[./](?!.*\\.css$)",
    "\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
